body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.pick-button {
  background-color: black;
  border-style: solid;
  border-radius: 200px;
  border-width: 4px;
  border-color: white;
  padding: 30px;
  margin: 10px;
}

.js-result {
  font-size: 30px;
  font-weight: bold;
}

img {
  width: 100px;
  height: 100px;
}

.js-moves {
  margin-top: 30px;
}

.js-score {
  margin-top: 40px;
}

.reset-button {
  padding: 20px 60px 20px 60px;
  margin-top: 20px;
  color: white;
  background-color: black;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 40px;
}

button:hover {
  background-color: rgb(222, 222, 222);
  color: black;
}
