body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.js-name-input {
  width: 260px;
  height: 40px;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 11.5px;
  padding-left: 6px;
}

.js-date-input {
  width: 180px;
  height: 42px;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 11.5px;
  padding-left: 6px;
}

button {
  width: 100px;
  height: 46px;
  border: none;
}

.add-button {
  color: white;
  background-color: green;
  border: none;
}

.delete-button {
  color: white;
  background-color: red;
  border: none;
}

.js-list-items {
  display: grid;
  grid-template-columns: 280px 200.5px 100px;
  row-gap: 10px;
  margin-left: 5px;
  align-items: center;
}
